body{
    background-color: rgb(23, 22, 22);
    font-size: 125%;
}
main{
    margin-top: 100px;
}
header{
    text-align: center;
    color: red;
}
/*practice removing this
header*/
a{
    text-decoration: none;
}
/* This removes the links' underlining*/
nav{
    list-style-type: none;
}

nav.ul {
  	list-style: none;
  	display: block;
  	width: 100%;
  	position: relative;
  	top: 0px;
  	left: 10px;
  	padding: 10px 0 10px 0;
  	
  }
  
nav.ul  li {
  	margin:0;
  	border-bottom: 1px solid #787878;
  	border-left:   1px solid #787878;
  	border-right:  1px solid #787878;
  	line-height:1.5em;
  	width:410px;
  }
  
  nav.ul  li.w100 {
  width:96%;
  }
  
  nav.ul  li.del,  nav.ul  li.del a {
    	margin: 5px 0 5px 0;
    	background: #9a9a9a;
    	line-height:1.5em;
    	
    	
  }
  
   
  nav.ul li a {
 	text-decoration: none;
	padding: 10px 20px;
	border: 1px solid red;
	border-radius: 5px;
	background-color: greenyellow;
    	color: black;
	transition: background-color 0.3s ease;
  	outline: 0;
  }
  
 nav.ul i a:hover {
  	
  	color: #777;
  /**/	background: pink; 
  	padding: 10px 20px;
  	outline: 0;
  	
  }

::-webkit-input-placeholder {
  color: rgba(255, 0, 0, 0.5);
}
:-moz-placeholder {/*Firefox 18-*/
  color: rgba(255, 0, 0, 0.5);
}
::-moz-placeholder {/*Firefox 19+*/
  color: rgba(255, 0, 0, 0.5);
}
:-ms-input-placeholder {
  color: rgba(255, 0, 0, 0.5);
}



#icon-menu {


		position:fixed;
		top:0;
		margin-left:auto;
	    margin-right:auto;
		z-index:5;
		width: 100%;
		height:auto;
}
//check the following code//
ul nav.ul ul nav.ul:visited {
	text-align: left;
	color: #777;

	font-size:14px;
	z-index: 5;
}

ul  a:visited {
    font-size: 14px;
    text-align: left;

    color: #777;
	z-index: 5;
}

a:visited {
	color:#777;

}

.add a:visited: { color:#000; }
